

.bagbody{
    width: 96%;
    height: 500px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    padding: 0%;
    display: flex;
    flex-direction: row;
}

.leftside{
    width : 70%;
    margin: 0%;
    padding: 0%;
    height : 100%;
}

.rightside{
    width: 30%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: white;
}


.leftside .bagmessage{
    height : 35%;
    width: 96%;
    margin-right: 4%;
    padding: 3%;
    background-color: white;
}

.rightside button{
    width : 90%;
    height: 60px;
    margin: 5%; 
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid black;
}


.rightside button:hover{
    color: rgb(71, 71, 71);
}
/*check if this is included*/
.productlisting{
    width: 96%;
    height: 61%;
    margin-top: 4%;
}

.productlisting div{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}


#orderBtn{
    width : 90%;
    height: 60px;
    margin: 5%; 
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid black;
}
