header{
    height : 150px;
    position: relative;
    background-color: #faf9f8;

}
.logo{
    position: absolute;
    right: 48%;
    top : 20%;
}

.header-section{
    position: absolute;
    right: 70px;
}


