.prod_container{
    width: 100%;
    height :700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products{
    width : 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.products div{
    margin-right: 8px;
}

.prod_container a{
    text-decoration: none;
    color: black;
}

.prod_container a:hover{
    text-decoration: underline black;
}
